<%= flash[:error] %>
<section class="hero is-warning">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        会員情報編集
      </h1>
    </div>
  </div>
</section>

<div class = "container" >
 <div class="row mt-3">
  <div class="offset-4 col-4">
   <%= form_with model: @customer, url: customer_path do |f| %>
    <div class="form-group">
      <%= f.label :ニックネーム, class: "brown-border px-3" %>
      <%= f.text_field :name, class: "form-control offset-1 ml-3 col-12" %>
    </div>

    <div class="form-group">
      <%= f.label :プロフィール, class: "brown-border px-3" %>
      <%= f.text_area :introduction, class: "form-control ml-3 col-12" %>
    </div>

    <div class="form-group">
      <%= f.label :プロフィール画像, class: "brown-border px-3" %>
      <%= f.attachment_field :image, class: " ml-1 col-12" %>
    </div>

    <div class="form-group">
      <%= f.label :メールアドレス, class: "brown-border px-3" %>
      <%= f.email_field :email, autofocus: true, autocomplete: "email",class: "form-control ml-3 col-12" %>
    </div>

    <div class="form-group">
     <%= f.submit "変更内容を保存", class:"btn btn-success ml-3" %>
    </div>
   <% end %>
   <%= link_to "退会する", unsubscribe_customer_path(@customer), class: "btn btn-danger ml-3" %>
  </div>
 </div>
</div>