<section class="hero is-primary">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        会員コメント一覧
      </h1>
    </div>
  </div>
</section>

<section>
  <div class="container px-5 px-sm-0">
    <div class="row mt-3">
      <div class="col-md-8 offset-md-1">
        <table class="table table-hover table-inverse">
          <thead>
            <tr>
              <th>会員ID</th>
              <th>ユーザー</th>
              <th>コメント</th>
              <th>コメント日時</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
           <% @comments.each do |comment| %>
            <tr>
              <td><%= comment.customer.id %></td>
              <td><%= link_to comment.customer.name, admin_customer_path(comment.customer), class: "text-dark" %></td>
              <td><%= comment.comment %></td>
              <td><%= l comment.created_at %></td>
              <td><%= link_to "削除", admin_comment_path(comment), method: :delete, "data-confirm" => "本当に削除しますか?", class: "btn btn-danger" %></td>
            </tr>
           <% end %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <%= paginate @comments %>
      </div>
    </div>
  </div>
</section>