<section class="hero is-warning">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        お問合せフォーム
      </h1>
    </div>
  </div>
</section>

<section>
  <div class="container">
   <div class="row mt-5">
    <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2">
      <%= form_with model: @contact do |f| %>
        <div class="form-group mt-3">
          <%= f.label "お名前" %>
          <%= f.text_field :name, placeholder: "お名前", class: "form-control" %>
        </div>

        <div class="form-group my-4">
          <%= f.label "お問い合わせ内容" %>
          <%= f.text_area :content, placeholder: "お問い合わせ内容を入力してください", class: "form-control" %>
        </div>

        <div class="form-group text-center">
          <%= f.submit "送信", class: "btn btn-warning" %>
        </div>

        <div class="form-group text-center">
          <%= link_to "トップに戻る", root_path, class: "btn btn-warning mt-2" %>
        </div>

      <% end %>
    </div>
   <div class="offset-lg-3 offset-md-2">
  </div>
</section>

