<section class="hero is-warning">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        「<%= @group.name %>」グループの詳細
      </h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="card mt-2">
        <div class="card-body text-center">
          <h5 class="card-title">
            <figure class="image is-48x48"  style="margin-left: auto; margin-right: auto;">
              <%= attachment_image_tag @group, :group_image, fallback: "no_image.jpg", class: "image is-rounded" %>
            </figure>
            <span><strong>「<%= @group.name %>」</strong></span>
          </h5>
          <h6 class="card-body"><strong><%= simple_format @group.introduction %></strong></h6>
          <h6 class="card-member">
            参加メンバー：</br>
            <% @group.customers.each do |member| %>
              <%= link_to customer_path(member) do %>
                <strong><%= member.name %>さん</strong><br>
              <% end %>
            <% end %>
          </h6>
          <div>
            <% if @group.owner_id == current_customer.id %>
              <%= link_to  edit_group_path(@group), class: "panel-block" do %>
                <span class="panel-icon">
                  <i class="fas fa-edit"></i>
                </span>
                グループを編集
              <% end %>
            <% elsif @group.customers.include?(current_customer) %>
              <%= link_to group_path(@group), method: :delete, "data-confirm"=>"本当にグループを削除しますか？", class: "panel-block" do %>
                <span class="panel-icon">
                  <i class="fas fa-trash"></i>
                </span>
                グループから退会
              <% end %>
            <% else %>
              <%= link_to group_join_path(@group), class: "panel-block" do %>
                <span class="panel-icon">
                  <i class="fas fa-sign-in-alt"></i>
                </span>
                グループに参加
              <% end %>
            <% end %>
          </div>
          <div>
           <%= link_to group_new_mail_path(@group), class: "panel-block" do %>
            <span class="panel-icon">
              <i class="fas fa-paper-plane"></i>
            </span>
            メンバーにメール
           <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>