<section class="hero is-success">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        投稿詳細
      </h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-6">
        <h3>ユーザー名:<%= @post.customer.name %></h3><br>
        <h3>タイトル:<%= @post.title %></h3><br>
        <h3>投稿内容</h3>
        <p id="text"><%= @post.body %></p>
        <div id="favorite_btn_<%= @post.id %>">
         <%= render 'public/likes/like', post: @post %>
        </div>
        <%= link_to '編集する', edit_post_path(@post.id), class: "btn btn-info mr-3" %>
        <%= link_to '削除する', post_path(@post.id),method: :delete, "data-confirm"=>"本当に消しますか？", class: "btn btn-danger" %><br>
        <%= link_to '投稿一覧ページへ', posts_path, class: "btn btn-dark mt-3" %>
      </div>

      <div class="comments ml-5 mt-5">
        <%= form_with(model:[@post, @comment], local: true) do |f| %>
        <%= f.text_area :comment, :size=>"60x3",placeholder: "コメントする" %>
        <%= f.submit "送信する", class: "btn btn-success mb-4" %>
        <% end %>

        <p>コメント件数：<%= @comments.count %></p>
        <% @comments.each do |comment| %>
	        <div class="comments-index mb-2">
            <%= comment.customer.name %>
            <%= comment.created_at.strftime('%Y/%m/%d') %><br>
           <div class="d-flex">
             <%= comment.comment %>
             <% if comment.customer == current_customer %>
              <div class="comment-delete">
               <%= link_to "削除", post_comment_path(comment.post, comment), method: :delete, class: "btn-sm btn-danger" %>
              </div>
           </div>
          </div>
        <% end %>
        <% end %>
        <%= paginate @comments %>
      </div>
    </div>
  </div>
</section>
