<section class="hero is-success">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        「<%= @post.title %>」の投稿詳細
      </h1>
    </div>
  </div>
</section>

<section class="section">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-6">
        <div class="card mt-2">
          <div class="card-body text-center">
            <h5 class="card-title"><strong><%= @post.title %></strong></h5>
            <h6 class="card-body"><strong><%= simple_format @post.body %></strong></h6>
            <% @post_tags.each do |tag| %>
              <%= link_to tag.name, search_tag_path(tag_id: tag.id) %>
              <%= "(#{tag.posts.count})" %>
            <% end %>
            <div id="favorite_btn_<%= @post.id %>">
              <%= render 'public/likes/like', post: @post %>
            </div>
              <% if @post.customer.id == current_customer.id %>
                <%= link_to edit_post_path(@post.id), class: "panel-block" do %>
                  <span class="panel-icon">
                    <i class="fas fa-edit"></i>
                  </span>
                  この投稿を編集する
                <% end %>
                <%= link_to post_path(@post.id),method: :delete, "data-confirm"=>"本当に消しますか？", class: "panel-block" do %>
                  <span class="panel-icon">
                    <i class="fas fa-trash"></i>
                  </span>
                  この投稿を削除する
                <% end %>
              <% end %>
              <%= link_to posts_path, class: "panel-block" do %>
                <span class="panel-icon">
                  <i class="fas fa-undo"></i>
                </span>
                投稿一覧に戻る
              <% end %>
              <div class="content">
                <time><%= @post.created_at.strftime("%Y-%m-%d %H:%M") %></time>
              </div>
          </div>
        </div>
      </div>

      <div class="comments ml-5 mt-3">
        <div class="new-comment">
          <%= render 'public/posts/comment_form', post: @post, comment: @comment %>
        </div>

        <div id="comments_area">
          <%= render 'public/posts/post_comment', count: @comments_count_all, comments: @comments %>
        </div>
        <%= paginate @comments %>
      </div>
    </div>
  </div>
</section>
