<section class="hero is-primary">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        チャットルーム
      </h1>
    </div>
  </div>
</section>


<div class="dmMain">
 <div class="chats">
  <div class="chat">
    <% if @messages.present? %>
      <% @messages.each do |m| %>
        <div class="chat-box">
          <div class="chat-face">
            <figure class="image is-48x48"  style="margin-left: auto; margin-right: auto;">
              <%= attachment_image_tag m.customer, :image, fallback: "no_image.jpg", class: "image is-rounded" %>
            </figure>
            <a class="rooms-user-link" href="/customers/<%= m.customer.id %>">
              <%= m.customer.name %>さん
            </a>
          </div>
          <div class="balloon-top">
            <strong><%= m.content %></strong>
          </div>
          <span><%= m.created_at.strftime("%Y-%m-%d %H:%M")%></span>
        </div>
      <% end %>
    <% end %>
   </div>
   <div class="posts mt-2">
    <%= form_for @message do |f| %>
      <%= f.text_field :content, placeholder: "50文字以内でメッセージを入力して下さい" , size: 50, class:"form-text-field" %>
        <%= f.hidden_field :room_id, value: @room.id %>
          <%= f.submit "送信",class: 'form-submit'%>
    <% end %>
   </div>
  </div>
  <div class="left-button mt-2">
    <%= link_to "会員詳細ページへ", customer_path(current_customer), class:"edit-link" %>
  </div>
</div>



