<% if @contact.errors.present? %>
  <div class="alert alert-danger" role="alert">
    <strong>入力内容にエラーがあります</strong>
    <ul>
      <% @contact.errors.each do |attr, error| %>
        <li><%= error %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<section class="hero is-warning">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        お問い合わせフォーム
      </h1>
    </div>
  </div>
</section>

<section>
  <div class="container">
   <div class="row mt-5">
    <div class="col-lg-6 offset-lg-3 col-md-8 offset-md-2">
      <%= form_with(model: @contact, url: { action: :confirm }) do |f| %>
        <div class="form-group mt-3">
          <%= f.label "名前" %><span class="text-danger">（必須）</span>
          <%= f.text_field :name, class: "form-control" %>
        </div>

        <div class="form-group mt-3">
          <%= f.label "メールアドレス" %><span class="text-danger">（必須）</span>
          <%= f.text_field :email, class: "form-control" %>
        </div>

        <div class="form-group my-4">
          <%= f.label "お問い合わせ内容" %><span class="text-danger">（必須）</span>
          <%= f.text_area :content, placeholder: "お問い合わせ内容を入力してください", class: "form-control" %>
        </div>

        <div class="form-group text-center mb-5">
          <%= f.submit "確認画面へ", class: "btn btn-warning" %>
        </div>
      <% end %>
    </div>
   <div class="offset-lg-3 offset-md-2">
  </div>
</section>