<%= flash[:error] %>
<section class="hero is-success">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title">
        会員ログイン
      </h1>
    </div>
  </div>
</section>

<div class = "container" >
 <div class="row">
   <div class="offset-4 col-4">
     <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
       <%= render "public/shared/error_messages" %>
       <div class="form-group mt-4">
         <%= f.label :email %>
         <%= f.email_field :email, autofocus: true, autocomplete: "email", :placeholder => "sample@example.com", class: "form-control offset-1 col-10" %>
       </div>

       <div class="form-group mt-3">
         <%= f.label :password %>
         <%= f.password_field :password, autocomplete: "current-password", :placeholder => "パスワード", class: "form-control offset-1 col-10" %>
       </div>

       <div class="box-login">
        <% if devise_mapping.rememberable? %>
         <div class="remember">
          <%= f.check_box :remember_me %>
          <%= f.label :remember, "ログインしたままにする" %>
         </div>
        <% end %>
       </div>

       <div class="form-group mt-3">
         <%= f.submit "ログイン", class:"btn btn-primary " %>
       </div>
     <% end %>

     <div class="box-newusr mt-3 mb-5">
      <p><span>----------</span> 登録がお済みでない方はこちらから <span>----------</span></p>
      <%= render "public/shared/links" %>
     </div>
   </div>
 </div>
</div>
